/* styles used in bot resources page */

/* cpu, mem and swap section */
#cpu_mem_swap_sect {
    width: 750px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#cpu_mem_swap_sect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#cpu_usage {
    width: auto;
    height: 100%;
    padding: 0 10px 0 10px;
}

.outer_circle.one, .outer_circle.two, .outer_circle.three {
    position: absolute;
    border: 1px solid var(--main-bg-color);
}

.outer_circle.one, .outer_circle.two, .outer_circle.three, .outer_circle.four {
    background-image: linear-gradient(to right, transparent 50%, #FF6F4B 0);
}

.outer_circle.four {
    width: 250px;
    height: 250px;
    z-index: 1;
}

.outer_circle.three {
    width: 220px;
    height: 220px;
    z-index: 2;
}

.outer_circle.two {
    width: 190px;
    height: 190px;
    z-index: 3;
}

.outer_circle.one {
    width: 160px;
    height: 160px;
    z-index: 4;
}

.inner_circle.cpu_usage {
    z-index: 5;
}

#bot_ram, #bot_mem {
    width: auto;
    padding: 15px;
}

#ram .before {
    /* transform: rotate(.2turn); */
    transition: .5s;
}

#cpu_mem_swap_sect #details {
    width: 85%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

#cpu_mem_swap_sect #details h2 {
    padding: 5px 0 5px 0;
    font-size: 21px;
}

#cpu_mem_swap_sect #details h2.left {
    width: 65%;
    max-width: 65%;
}

#cpu_mem_swap_sect #details h2.right {
    width: 35%;
    max-width: 35%;
    text-align: right;
}

#cores {
    width: 11%;
}

#cores_perct {
    width: 54%;
    height: auto;
}

#cpu {
    width: 9%;
}

#cpu_detail {
    width: 56%;
    max-width: 56%;
    flex-wrap: wrap;
}

/* network section */
#network_section {
    width: 800px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#network_section #title {
    width: 120px;
    height: auto;
    padding: 5px 15px 5px 15px;
    background: #fff;
    color: var(--main-bg-color);
    float: left;
    text-align: center;
    margin-bottom: 10px;
}

#network_section #buffer {
    width: 500px;
    height: 40px;
}

.speed_circles, .speed_circles .outer, .speed_circles .outer .inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.speed_circles {
    width: 200px;
    height: 200px;
    padding: 10px;
}

.speed_circles .outer {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: var(--secnd-bg-color-1);
    background-image: linear-gradient(270deg, transparent 50%, #000 0);
    /* background-image: linear-gradient(270deg, transparent 50%, #000 0); */
}

.speed_circles .outer .before {
    display: block;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    transition: transform .5s;
    transform: rotate(-0.38turn);
}


.speed_circles .outer .square {
    width: 100px;
    height: 100px;
    border-bottom-left-radius: 100%;
    background: var(--main-bg-color);
    position: absolute;
    transform: rotate(-45deg);
    margin-top: 75px;
}

.speed_circles .outer .inner {
    width: 155px;
    height: 155px;
    background: var(--main-bg-color);
    border-radius: 100%;
    position: absolute;
    flex-direction: column;
}

.speed_circles .outer .inner h1 {
    color: #000;
    font-size: 20px;
}

.speed_circles .outer .inner h2 {
    color: #fff;
    font-size: 25px;
}

#network_info {
    width: calc(84% - 200px - 200px);
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0px 0 10px;
}

#network_info h2 {
    font-size: 20px;
}

#network_section #traffic_hist {
    width: 84%;
    text-align: left;
    font-size: 30px;
    margin-top: -15px;
}

#network_hist_graph {
    width: 720px;
    height: 330px;
    margin-top: 5px;
}

/* storage sect */
#storage_sect {
    width: 100%;
    height: auto;
    background-color: var(--secnd-bg-color-2);
}

#storage_sect {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

#storage_sect h1 {
    background-color: #fff;
    height: 32px;
    color: var(--secnd-bg-color-2);
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    float: left;
}

#storage_sect #refresh {
    background-color: #000;
    color: #fff;
    height: 35px;
    padding: 5px 20px 5px 20px;
    margin-top: 13.5px;
    margin-left: 10px;
}

#storage_sect #filler {
    width: 500px;
    height: 30px;
}

#storage_devices {
    width: 760px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

#storage_devices h2 {
    font-size: 20px;
}

#storage_devices .device {
    margin-left: 10px;
}

#storage_devices .device_name {
    width: 25%;
    max-width: 25%;
    word-wrap: break-word;
    margin-left: 13px;
}

#storage_devices .device_dir {
    width: 40%;
    max-width: 40%;
    word-wrap: break-word;
}

#storage_devices .device_space {
    width: calc(35% - 33px);
}
