/* styles used in bot command page */
h1.title {
    height: 40px;
    font-size: 30px;
    background: #fff;
    color: var(--main-bg-color);
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* cmd input section */
#cmd_input_sect {
    width: 750px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#cmd_input, #snd_cmd {
    width: calc(50% - 5px);
    height: 35px;
}

#cmd_input input {
    height: 35px;
}

#snd_cmd {
    margin-left: 10px;
    background-color: #000;
}

#cmd_input_sect #cmd_output {
    width: calc(100% - 20px);
    height: 200px;
    margin-top: 10px;
    background-color: var(--secnd-bg-color-1);
    padding: 10px;
    overflow-y: scroll;
}

#cmd_input_sect #cmd_output.empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cmd_input_sect #cmd_output h2 {
    color: var(--main-bg-color);
}

/* cmd history section */
#table .drop_down .data.output {
    width: calc(100% - 25% - 50px - 20px - 2px);
    border: 1px solid #000;
    padding: 10px;
}

.data.output {
    white-space: pre-wrap;
}

#popup {
    width: 0px;
    height: 35px;
    margin-left: 190px;
    margin-top: 0px;
}

#popup.active {
    width: 370px;
    margin-left: 190px;
}
