/* styles used in command history page */
h1.title {
    height: 40px;
    font-size: 30px;
    background: #fff;
    color: var(--main-bg-color);
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* command search section */
#cmd_search_sect {
    width: 750px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

#cmd_search {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

#cmd_search_sect input {
    width: calc(750px - 120px);
    height: 35px;
}

#cmd_search_sect .text_input_butn {
    width: 120px;
    height: 35px;
}

#cmd_search_sect .text_input_butn span {
    transform: rotate(90deg);
    margin-left: 5px;
    margin-top: 2px;
}

/* command history section */
#cmd_history_sect .delete {
    width: 150px;
    background: #D14C4C;
    margin-left: 20px;
    margin: 5px 0 5px 20px;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: bolder;
}
