/* styles for error page */

body {
    width: 100%;
    height: 100%;
    position: absolute;
}

div, body, a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    width: 100%;
    height: auto;
}

#content {
    width: 100%;
    height: auto;
    background-color: var(--secnd-bg-color-2);
    padding-bottom: 20px;
}

.wave {
    width: 100%;
    height: 100px;;
    background-image: url("/static/images/wave3.png");
    background-size: contain;
    background-position: center;
}

.wave.bottom {
    transform: rotate(180deg);
}

h1 {
    font-size: 100px;
    color: #D14C4C;
}

p {
    width: 50%;
    max-width: 500px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

a {
    width: 100%;
}

input[type="button"] {
    width: 30%;
    max-width: 410px;
    height: 40px;
    margin-top: 40px;
    background-color: var(--secnd-bg-color-2);
    border: 4px solid #fff;
    font-size: 20px;
    font-weight: bold;
    transition: .2s;
}

input[type="button"]:hover {
    background-color: #fff;
    color: var(--secnd-bg-color-2);
}
