/* styles used by index.html */
#MasterBot_info, #commands_and_feed {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* master bot info section */
#MasterBot_info {
    width: 750px;
    height: 190px;
    margin-top: 20px;
}

#MasterBot_info #info, #MasterBot_info #resources{
    height: 100%;
}

#MasterBot_info #info{
    width: 45%;
    height: 165px;
}

#MasterBot_info #info h1{
    font-size: 30px;
}

#MasterBot_info #info h2{
    font-size: 25px;
}

#MasterBot_info #resources{
    display: flex;
    align-items: center;
    width: 55%;
}

#master_bot_ram, #master_bot_cpu {
    margin-left: 25px;
}

#master_cpu {
    background-image: linear-gradient(to right, transparent 50%, #FF6F4B 0);
}

@keyframes master_cpu {
  to { transform: rotate(.5turn); }
}

@keyframes master_ram {
  to { transform: rotate(.25turn); }
}

#master_ram {
    background-image: linear-gradient(to right, transparent 50%, #27AE60 0);
}

/* commands and feeds section */
#commands_and_feed {
    width: 800px;
    height: auto;
    margin-top: 10px;
}

#commands_and_feed #inputs, #commands_and_feed #buttons {
    width: 385px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

#commands_and_feed #inputs {
}

#client_input {
    margin-top: 10px;
}

#cmd_hist_butn {
    width: 100%;
    background: var(--secnd-bg-color-1);
    color: var(--main-bg-color);
}

#cmd_send_butn {
    background-color: #000;
    color: var(--fg-color-1);
    margin-top: 10px;
}

#popup {
    height: 30px;
}

#feed_container {
    width: 100%;
    height: 250px;
    background: var(--secnd-bg-color-1);
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.feed{
    width: 100%;
    height: 50px;
    background-color: var(--secnd-bg-color-1);
    /* border-bottom: 2px solid #333333; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.f_symbol_cont, .f_symbol, .f_cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f_symbol_cont {
    width: 80px;
    height: 100%;
}

.f_symbol {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--fg-color-1);
    font-family: Quicksand;
    font-size: 25px;
}

.f_symbol.success {
    background-color: #27AE60;
}

.f_symbol.error {
    background-color: #D14C4C;
}

.f_symbol.info {
    background-color: #2D9CDB;
}

.f_cont {
    width: calc(100% - 80px - 10px);
    height: 100%;
    background-color: inherit;
    padding-right: 10px;
    justify-content: flex-start;
    font-size: 13px;
}

.f_sep {
    width: calc(100% - 45px);
    height: 3px;
    background: var(--main-bg-color);
    margin: 0 auto;
}

.f_sep.last {
    display: none;
}

/* bot Information section */
#bot_info {
    width: 100%;
    height: auto;
    background: var(--secnd-bg-color-2);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bot_info h1 {
    width: 180px;
    height: auto;
    background: #fff;
    color: var(--secnd-bg-color-2);
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bot {
    width: 800px;
    height: 40px;
    border-bottom: 3px solid var(--main-bg-color);
    display: flex;
}

.bot.last {
    border: 0;
}

.bot h2 {
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 20px;
}

.bot .mac {
    width: 250px;
    padding: 5px 5px 5px 15px;
}

.bot .name {
    width: calc(800px - 250px - 20px);
    height: calc(40px - 10px);
    padding: 5px;
}

.bot .b_open {
    width: 65px;
    height: 40px;
}

.bot .b_open .symbol {
    width: 20px;
    height: 15px;
    background: var(--main-bg-color);
    color: var(--secnd-bg-color-2);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 25px;
    padding-bottom: 5px;
    cursor: pointer;
}

.bot .b_open .symbol:hover {
    background: #fff;
}

/* dropdown */
.dropdown.container.bots {
    width: 385px;
    /* margin-left: calc(385px - 300px); */
    /* width: 385px; */
}
