/* styles used for main menu - not bot menu */

:root {
    --bg-color: #000;
    --fg-color: #fff;
}

#hamburger_icon {
    width: 30px;
    height: 30px;
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;
    background: var(--bg-color);
    /* border: 3px solid var(--bg-color); */
    flex-grow: 0;
    padding: 5px;
    padding: 5px 8px 5px 8px;
}

#hamburger_icon .line {
    width: 30px;
    height: 3px;
    background: var(--fg-color);
    margin-top: 8px;
    transform-origin: center;
    position: absolute;
    transition: .2s margin-top .3s, .2s transform, .2s opacity .4s;

}

#hamburger_icon #one {
    margin-top: 2.5px;
}

#hamburger_icon #two {
    margin-top: 12.5px;
}

#hamburger_icon #three {
    margin-top: 22.5px;
}

/* cross animation */
#main_nav:hover #hamburger_icon .line {
    transition: .3s opacity, .2s margin-top .1s, .2s transform .3s;
}

#main_nav:hover #hamburger_icon #two {
    opacity: 0;
}

#main_nav:hover #hamburger_icon #one {
    margin-top: 12.5px;;
    /* transform: rotate(225deg); */
    transform: rotate(45deg);
}

#main_nav:hover #hamburger_icon #three {
    margin-top: 12.5px;;
    /* transform: rotate(135deg); */
    transform: rotate(-45deg);
}

/* menu contents */
#main_nav #menu {
    width: 0;
    height: auto;
    background: var(--bg-color);;
    position: fixed;
    margin-top: 20px;
    margin-left: 66px;
    transition: .2s width .3s;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 0;
}

#main_nav #menu, #main_nav #menu ul, #main_nav #menu ul a li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main_nav #menu ul {
    width: calc(100% - 10px);
    height: auto;
    padding: 0;
    border: 0;
}

#main_nav #menu ul a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

#main_nav #menu ul a li {
    width: 100%;
    height: 35px;
    background-color: var(--bg-color);
    color: var(--fg-color);
    transition: .2s;
}

#main_nav #menu ul a li:hover {
    background: var(--fg-color);;
    color: var(--bg-color);;
}

/* open menu animation */
#main_nav:hover #menu {
    width: 200px;
    font-size: 13px;
    transition: .2s width .2s, .2s font-size;
}
