/* styles shared by multiple pages */

@font-face {
    font-family: "Righteous";
    src: url("fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("fonts/Quicksand-Regular.ttf");
}

* {
    margin: 0;
}

:root {
    --main-bg-color: #393E53;
    --secnd-bg-color-1: #5F647C;
    --secnd-bg-color-2: #1E2643;

    --fg-color-1: #fff;
    --fg-color-2: #393E53;

    /* purplish */
    /* --main-bg-color: #433b81;
    --secnd-bg-color-1: #5951a1;
    --secnd-bg-color-2: #231A69; */
}

body {
    background-color: var(--main-bg-color);
}

ul, li {
    list-style: none;
}

p, h1, h2, h3, input[type="text"], input[type="button"], li, textarea, #popup {
    font-family: Righteous;
    font-weight: lighter;
    color: var(--fg-color-1);
}

a {
    text-decoration: none;
}

.left_arrow {
    transform: rotate(180deg);
    margin-right: 2px;
}

.sep_bar{
    width: 770px;
    height: 3px;
    margin: 0 auto;
    background-color: var(--secnd-bg-color-1);
    margin-top: 5px;
}

.status.good {
    color: #27AE60;
}

.status.okay {
    color: #FF6F4B;
}

.status.bad {
    color: #D14C4C;
}

/* resource circle */
.resource_circle {
    width: 180px;
    height: 180px;
}

.outer_circle, .inner_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/* https://www.smashingmagazine.com/2015/07/designing-simple-pie-charts-with-css/ */
.outer_circle {
    width: 180px;
    height: 180px;
    background-color: var(--secnd-bg-color-1);
    /* background-image: linear-gradient(to right, transparent 50%, red 0); */
}

.outer_circle .before {
    display: block;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    transition: transform .5s;
}

.outer_circle.core {
    position: absolute;
    border: 1px solid var(--main-bg-color);
}

.inner_circle {
    width: 130px;
    height: 130px;
    flex-direction: column;
    position: absolute;
    background-color: var(--main-bg-color);
}

/* inputs */
input[type="text"], input[type="button"] {
    outline: 0;
    border: 0;
    border-radius: 0;
    height: 30px;
    text-align: center;
    font-size: 18px;
    padding: 0;
}

.text_input {
    width: auto;
    height: 30px;
    display: flex;
}

input[type="text"] {
    width: 90%;
    background-color: #fff;
    color: #000;
}

input[type="text"]::placeholder {
    color: #BDBDBD;
}

.text_input_butn {
    width: 10%;
    height: 100%;
    background: #000;
    color: var(--fg-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Righteous;
    font-size: 18px;
    cursor: pointer;
}

.text_input_butn.down {
    font-size: 30px;
}

.down_arrow {
    background: inherit;
    transform: rotate(90deg);
    transition: 1s;
}

.text_input_butn.down_arrow.hover {
    transform: rotate(100deg);
}

input[type="button"] {
    border-radius: 50px;
    cursor: pointer;
}

/* command history section */
#cmd_history_sect {
    width: 100%;
    height: auto;
    background: var(--secnd-bg-color-2);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#cmd_history_sect h1 {
    width: 300px;
    margin-top: 10px;
}

#cmd_history_sect .filler {
    width: calc(750px - 330px);
}

#cmd_history_sect #table {
    width: 750px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

#cmd_history_sect #table h2 {
    font-size: 23px;
    padding: 5px;
    font-family: Quicksand;
    font-weight: bolder;
}

#cmd_history_sect #table .id {
    width: 18%;
    height: 30px;
    margin-left: 10px;
}

#cmd_history_sect #table .cmd {
    width: calc(100% - 18% - 5% - 40px);
    height: 30px;
}

#cmd_history_sect #table .drop_butn {
    width: 5%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#cmd_history_sect #table .drop_butn span.active {
    background-color: #000;
    color: #fff;
}

#cmd_history_sect #table .drop_butn:hover span {
    background-color: #000;
    color: #fff;
}

#cmd_history_sect #table .drop_butn span {
    width: 15px;
    height: 15px;
    padding: 5px;
    background: red;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Righteous;
    font-size: 25px;
    color: var(--secnd-bg-color-1);
    background-color: var(--main-bg-color);
    border-radius: 10%;
}

#table .drop_down {
    width: 100%;
    height: auto;
    background-color: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
}

#table .drop_down.hidden {
    display: none;
}

#table .drop_down h3 {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 17px;
    margin-top: 5px;
}

#table .drop_down .heading {
    width: 25%;
    color: #fff;
    margin-left: 20px;
}

#table .drop_down .data {
    width: calc(100% - 25% - 50px);
    color: #000;
    margin-left: 10px;
}

#table .drop_down .data.related_bots {
    width: calc(100% - 25% - 50px - 20px);
    height: auto;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.data.related_bots h4 {
    width: auto;
    height: auto;
    font-family: Quicksand;
    font-size: 14px;
    background: #000;
    color: #fff;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

#table .drop_down .sep_bar {
    width: 100%;
    height: 2px;
    background-color: var(--secnd-bg-color-1);
}

#table .drop_down .hidden {
    height: 0;
}

/* style for drop-down menu */
.dropdown.container {
    width: auto;
    height: auto;
    max-height: 200px;
    position: absolute;
    background: #000;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.dropdown.container:hover, .dropdown.container.hidden:hover {
    height: auto;
}

.dropdown.container.hidden {
    height: 0;
    overflow-y: hidden;
}

.dropdown.container .radio_button,.dropdown.container .radio_button span, .dropdown.container p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown.container .radio_button {
    width: calc(15% - 10px);
    height: 40px;
    margin-left: -10px;
}

.dropdown.container .radio_button span {
    width: 18px;
    height: 18px;
    border: 1.5px solid #fff;
    border-radius: 3px;
    font-family: Quicksand;
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

.dropdown.container .radio_button span.selected {
    background-color: #fff;
}

.dropdown.container p {
    width: 85%;
    height: 40px;
    font-family: Quicksand;
    font-size: 18px;
}

.dropdown.container p.select_all {
    font-size: 18px;
    font-weight: bolder;
}

.dropdown.container .sep_bar {
    width: 95%;
    height: 3px;
    background: #333333;
    margin-left: 2.5%;
    margin-top: 0;
}

#popup {
    width: 0;;
    border-radius: 50px;
    position: absolute;
    transition: .2s width 0s, .2s margin-left 0s, .2s font-size 0s;
    margin-left: calc(385px / 2);
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #27AE60;
}

#popup.active {
  width: 385px;
  margin-left: 0;
  font-size: 15px;
  transition: .2s width, .2s margin-left, .2s font-size .1s;
}
