<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bot: {{ bot.id }} - Resources</title>
        <link rel="stylesheet" type="text/css" href="/static/style/shared.css">
        <link rel="stylesheet" type="text/css" href="/static/style/bot_menu.css">
        <link rel="stylesheet" type="text/css" href="/static/style/bot_commands.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/scripts/command.js"></script>
        <script src="/static/scripts/shared.js"></script>
        <script type="text/javascript">
            const BOT_ID = "{{ bot.id }}";

            $(document).ready(function(){
                $("#snd_cmd").click(function(){
                    bot_command(BOT_ID);
                })
            })
        </script>
    </head>
    <body>
        <nav>
            <ul>
                <a href={{ url_for("main") }}>
                    <li class="back_nav" title="MasterBot Overview"><span class="left_arrow">></span></li>
                </a>
                <a href={{ url_for("bot_overview", ID=bot.id) }}>
                    <li class="bot_nav">Overview</li>
                </a>
                <a href={{ url_for("bot_resources", ID=bot.id) }}>
                    <li class="bot_nav">Resources</li>
                </a>

                <li class="bot_nav">Peripherals</li>

                <a href={{ url_for("bot_commands", ID=bot.id) }}>
                    <li class="bot_nav active">Commands</li>
                </a>

                <li class="bot_nav">Shitz & Giggles</li>
            </ul>
        </nav>
        <section id="cmd_input_sect">
            <div class="text_input" id="cmd_input">
                <div class="text_input_butn clear">X</div>
                <input type="text" placeholder="Command" spellcheck="false">
            </div>
            <input type="button" name="" value="Send Command" id="snd_cmd">
            <div id="popup">Sent!</div>
            <div id="cmd_output" class="empty">
                <h2>Output not available yet...</h2>
            </div>
        </section>
        <section id="cmd_history_sect">
            <h1 class="title">Command History</h1>
            <div class="filler"></div>
            <div id="table">
                {% for c in bot.cmds %}
                <h2 class="id">ID - {{ c.cmd_id }}</h2>
                <h2 class="cmd">Command - {{ c.cmd }}</h2>
                <div class="drop_butn">
                    <span>></span>
                </div>
                <div class="drop_down hidden">
                    <h3 class="heading">Command</h3>
                    <h3 class="data">{{ c.cmd }}</h3>
                    <div class="sep_bar"></div>
                    <h3 class="heading">Start Time</h3>
                    <h3 class="data">{{ c.srt_time }}</h3>
                    <div class="sep_bar"></div>
                    <h3 class="heading">Run Time</h3>
                    <h3 class="data">{{ c.run_time }} Seconds</h3>
                    <div class="sep_bar"></div>
                    <h3 class="heading">Output</h3>
                    <h3 class="data output">
                        {{ c.output }}
                    </h3>
                    <div class="sep_bar"></div>
                    <h3 class="heading">Related Bots</h3>
                    <div class="data related_bots">
                        {% for mac in c.rel_bots %}
                        <a href={{ url_for("bot_commands", ID=mac) }}>
                            <h4>{{ mac }}</h4>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="sep_bar"></div>
                {% endfor %}
            </div>
        </section>
    </body>
</html>
