<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bot - {{ bot.id }}</title>
        <link rel="stylesheet" type="text/css" href="/static/style/shared.css">
        <link rel="stylesheet" type="text/css" href="/static/style/bot_menu.css">
        <link rel="stylesheet" type="text/css" href="/static/style/bot_overview.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/scripts/resources/p5.min.js" charset="utf-8"></script>
        <script src="/static/scripts/command.js"></script>
        <script src="/static/scripts/shared.js"></script>
        <script src="/static/scripts/resources.js" charset="utf-8"></script>
        <script src="/static/scripts/bot_status.js"></script>
        <script type="text/javascript">
            const botID = "{{ bot.id }}";

            $(document).ready(function(){
                $("#send_cmd_butn").click(function(){
                    bot_command(botID);
                })
            })

            /*  NOTE: DON'T REMOVE THIS FUNCTION
             *  This function is needed to call p5.js functions
             *  if removed, map() function won't work */
            function setup(){
                // stops canvas p5.js drawing canvas at bottom of page
                noCanvas();
            }

            setInterval(function(){bot_resources(true)}, 1000);
            setInterval(bot_status, 1000);
        </script>
    </head>
    <body>
        <nav>
            <ul>
                <a href={{ url_for("main") }}>
                    <li class="back_nav" title="MasterBot Overview"><span class="left_arrow">></span></li>
                </a>
                <a href={{ url_for("bot_overview", ID=bot.id) }}>
                    <li class="bot_nav active">Overview</li>
                </a>
                <a href={{ url_for("bot_resources", ID=bot.id) }}>
                    <li class="bot_nav">Resources</li>
                </a>

                <li class="bot_nav">Peripherals</li>

                <a href={{ url_for("bot_commands", ID=bot.id) }}>
                    <li class="bot_nav">Commands</li>
                </a>

                <li class="bot_nav">Shitz & Giggles</li>
            </ul>
        </nav>
        <section id="top_section">
            <h1>{{ bot.name }} Information</h1>
            <div>
                <h2>Port: {{ bot.port }}</h2>
                <h2>IP: {{ bot.ip }}</h2>
                <h2>MAC: {{ bot.id }}</h2>
            </div>
            <div>
                <input type="button" name="" value="Disconnect" id="client_discon">
                <input type="button" name="" value="Reset Client" id="client_recon">
            </div>
            <div>
                <h2 id="OS_name">OS: {{ bot.os }}</h2>
            </div>
            <div id="client_status">
                <h2>Status: <span class="status good" id="bot_stat">Active - 2m 3s</span></h2>
            </div>
        </section>
        <div class="sep_bar"></div>
        <section id="resource_sect">
            <div class="resource_circle" id="cpu_usage">

            </div>
            <div class="resource_circle" id="bot_ram">
                <div class="outer_circle" id="ram">
                    <div class="before" id="ram_before"></div>
                    <div class="inner_circle">
                        <h1>RAM</h1>
                        <h2 id="bot_ram_perct"><span class="status good">20%</span></h2>
                    </div>
                </div>
            </div>
            <div id="network_speeds">
                <h2 id="download_txt">Download</h2>
                <div class="bar download">
                    <div class="bar_before"></div>
                    <h3 id="dl_speed">888Mb</h3>
                </div>
                <h2 id="upload_txt">Upload</h2>
                <div class="bar upload">
                    <div class="bar_before"></div>
                    <h3 id="ul_speed">888Mb</h3>
                </div>
            </div>
        </section>
        <div class="sep_bar"></div>
        <section id="cmd_section">
            <div class="text_input" id="cmd_input">
                <div class="text_input_butn clear">X</div>
                <input type="text" placeholder="Command" spellcheck="false">
            </div>
            <input type="button" value="Send Command" id="send_cmd_butn">
            <div id="popup">Sent!</div>
        </section>
        <script type="text/javascript">
            init_core_circles("{{ bot.res.cpu_core_percts }}", "cpu_usage");
        </script>
    </body>
</html>
