<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bot: {{ bot.ID }} - Resources</title>
        <link rel="stylesheet" type="text/css" href="/static/style/shared.css">
        <link rel="stylesheet" type="text/css" href="/static/style/bot_menu.css">
        <link rel="stylesheet" type="text/css" href="/static/style/bot_resources.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/scripts/resources/p5.min.js" charset="utf-8"></script>
        <script src="/static/scripts/graph/point.js" charset="utf-8"></script>
        <script src="/static/scripts/graph/graph.js" charset="utf-8"></script>
        <script src="/static/scripts/graph/main.js" charset="utf-8"></script>
        <script src="/static/scripts/resources.js" charset="utf-8"></script>
        <script type="text/javascript">
            const botID = "{{ bot.ID }}";
            setInterval(function(){bot_resources(false)}, 1000);
        </script>
    </head>
    <body>
        <nav>
            <ul>
                <a href={{ url_for("main") }}>
                    <li class="back_nav" title="MasterBot Overview"><span class="left_arrow">></span></li>
                </a>
                <a href={{ url_for("bot_overview", ID=bot.ID) }}>
                    <li class="bot_nav">Overview</li>
                </a>
                <a href={{ url_for("bot_resources", ID=bot.ID) }}>
                    <li class="bot_nav active">Resources</li>
                </a>

                <li class="bot_nav">Peripherals</li>

                <a href={{ url_for("bot_commands", ID=bot.ID) }}>
                    <li class="bot_nav">Commands</li>
                </a>

                <li class="bot_nav">Shitz & Giggles</li>
            </ul>
        </nav>
        <section id="cpu_mem_swap_sect">
            <div class="resource_circle" id="cpu_usage">

            </div>
            <div class="resource_circle" id="bot_ram">
                <div class="outer_circle" id="ram">
                    <div class="before" id="ram_before"></div>
                    <div class="inner_circle">
                        <h1>RAM</h1>
                        <h2 id="bot_ram_perct">{{ bot.ram_perct }}%</span></h2>
                    </div>
                </div>
            </div>
            <div class="resource_circle" id="bot_mem">
                <div class="outer_circle" id="swap">
                    <div class="before" id="swap_before"></div>
                    <div class="inner_circle">
                        <h1>SWAP</h1>
                        <h2 id="bot_swap_perct"><span class="status good">{{ bot.swap_perct }}%</span></h2>
                    </div>
                </div>
            </div>
            <div id="details">
                <h2 id="cpu">CPU: </h2>
                <h2 id="cpu_detail">{{ bot.cpu_model }}</h2>
                <h2 class="right" id="ram_detail">RAM: <span id="used">{{ bot.ram_used }}</span> of <span id="total">{{ bot.ram_total }}</span> GB</h2>
                <h2 id="cores">Cores: </h2>
                <h2 id="cores_perct">{{ bot.cpu_core_percts }}</h2>
                <h2 class="right" id="swap_detail">SWAP: <span id="used">{{ bot.swap_used }}</span> of <span id="total">{{ bot.swap_total }}</span> GB</h2>
            </div>
        </section>
        <div class="sep_bar"></div>
        <section id="network_section">
            <h1 id="title">Network</h1>
            <div id="buffer"></div>
            <div class="speed_circles">
                <div class="outer" id="download_speed">
                    <div class="before"></div>
                    <div class="square"></div>
                    <div class="inner">
                        <h2 id="dl_speed">Mbps</h2>
                        <h1>Download</h1>
                    </div>
                </div>
            </div>
            <div class="speed_circles">
                <div class="outer" id="upload_speed">
                    <div class="before"></div>
                    <div class="square"></div>
                    <div class="inner">
                        <h2 id="ul_speed">Mbps</h2>
                        <h1>Upload</h1>
                    </div>
                </div>
            </div>
            <div id="network_info">
                <h2>Incoming Packets: <span id="in_pack_no">{{ bot.r_number }}</span></h2>
                <h2>Outgoing Packers: <span id="ot_pack_no">{{ bot.s_number }}</span></h2>
                <h2>Incoming Total: <span id="in_pack_size">{{ bot.r_size }}</span> GB</h2>
                <h2>Outgoing Total: <span id="ot_pack_size">{{ bot.s_size }}</span> GB</h2>
            </div>
            <h1 id="traffic_hist">Traffic History</h1>
            <div id="network_hist_graph"></div>
        </section>
        <section id="storage_sect">
            <h1>Storage</h1>
            <input type="button" name="" value="Refresh" id="refresh" onclick="location.reload()">
            <div id="filler"></div>
            <div id="storage_devices">
                {% for device in bot.storage_devices %}
                <h2 class="device device_name">Device: {{ device.filesytem }}</h2>
                <h2 class="device device_dir">Dir: {{ device.mounted }}</h2>
                <h2 class="device device_space">Used: {{ device.used }} of {{ device.size }}</h2>
                <div class="sep_bar"></div>
                {% endfor %}
            </div>
        </section>
        <script type="text/javascript">
            init_core_circles("{{ bot.cpu_core_percts }}", "cpu_usage");
        </script>
    </body>
</html>
