<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Command History</title>
        <link rel="stylesheet" type="text/css" href="/static/style/shared.css">
        <link rel="stylesheet" type="text/css" href="/static/style/command_history.css">
        <link rel="stylesheet" type="text/css" href="/static/style/main_menu.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/scripts/command.js"></script>
        <script src="/static/scripts/shared.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".drop_down .delete").click(function(){
                    let id = $(this).attr("id")
                    let choice = confirm("Delete command ID - " + id + " ?");

                    if(choice) delete_command(id);
                })
            })
        </script>
    </head>
    <body>
        <nav id="main_nav">
            <div id="hamburger_icon">
                <div class="line" id="one"></div>
                <div class="line" id="two"></div>
                <div class="line" id="three"></div>
            </div>
            <div id="menu">
                <ul>
                    <a href={{ url_for("main") }}>
                        <li>Overview</li>
                    </a>
                    <a href={{ url_for("cmd_history") }}>
                        <li>Command History</li>
                    </a>
                    <a href={{ url_for("main") }}>
                        <li>Settings</li>
                    </a>
                </ul>
            </div>
        </nav>
        <section id="cmd_search_sect">
            <h1 class="title">Command History</h1>
            <div class="text_input" id="cmd_search">
                <div class="text_input_butn">Filter <span>></span></div>
                <input type="text" placeholder="Command" spellcheck="false">
            </div>
        </section>
        <section id="cmd_history_sect">
            <div id="table">
                {% for c in cmds %}
                <h2 class="id">ID - {{ c.id }}</h2>
                <h2 class="cmd">Command - {{ c.cmd }}</h2>
                <div class="drop_butn">
                    <span>></span>
                </div>
                <div class="drop_down hidden">
                    <h3 class="heading">Command</h3>
                    <h3 class="data">{{ c.cmd }}</h3>
                    <div class="sep_bar"></div>
                    <h3 class="heading">Creation Time</h3>
                    <h3 class="data">{{ c.c_time }}</h3>
                    <div class="sep_bar"></div>
                    <h3 class="heading">Bots</h3>
                    <div class="data related_bots">
                        {% for mac in c.bots %}
                        <a href={{ url_for("bot_commands", ID=mac) }}>
                            <h4>{{ mac }}</h4>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="sep_bar"></div>
                    <input type="button" name="" value="Delete" class="delete" id="{{ c.id }}">
                </div>
                <div class="sep_bar"></div>
                {% endfor %}
            </div>
        </section>
    </body>
</html>
