<!-- base template used for error pages -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>{{ err.no }} - {{ err.title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/style/shared.css">
        <link rel="stylesheet" type="text/css" href="/static/style/errors.css">
    </head>
    <body>
        <div id="container">
            <div class="wave top"></div>
            <div id="content">
                <h1>{{ err.no }}</h1>
                <p>{{ err.info }}</p>
                <a href={{ url_for("main") }}>
                    <input type="button" value="Home" id="home">
                </a>
            </div>
            <div class="wave bottom"></div>
        </div>
    </body>
</html>
