<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MasterBot Overview</title>
        <link rel="stylesheet" type="text/css" href="/static/style/shared.css">
        <link rel="stylesheet" type="text/css" href="/static/style/index.css">
        <link rel="stylesheet" type="text/css" href="/static/style/main_menu.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/static/scripts/resources/p5.min.js" charset="utf-8"></script>
        <script src="/static/scripts/command.js"></script>
        <script src="/static/scripts/resources.js"></script>
        <script src="/static/scripts/command.js"></script>
        <script src="/static/scripts/drop_down.js"></script>
        <script src="/static/scripts/shared.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#cmd_send_butn").click(function(){
                    let dd_cont = $(".dropdown.container.bots");
                    let cmd = $("#cmd_input input").val();
                    let bots = $("#selected_bots").val().split(", ");

                    // removes empty item from cmd_bots
                    bots = bots.splice(0, bots.length - 1);

                    if(!popupAcitve){
                        if(cmd && bots.length > 0){
                            upload_command([cmd, bots]);
                        } else{
                            //TODO: set css properties showing error
                            toggle_popup("#D14C4C", "Invalid Bots or Command!");
                        }
                    }
                })
            })

            /* gets current cmd and clients values */
            function get_cmd_bots(){
                let cmd = $("#cmd_input input").val().trim();
                let bots = get_bot_from_name();

                return (!cmd || bots.length == 0) ? 0 : [cmd, bots];
            }

            /*  NOTE: DON'T REMOVE THIS FUNCTION
             *  This function is needed to call p5.js functions
             *  if removed, map() function won't work */
            function setup(){
                // stops canvas p5.js drawing canvas at bottom of page
                noCanvas();
            }

            setInterval(master_resources, 1000);
        </script>
    </head>
    <body>
        <nav id="main_nav">
            <div id="hamburger_icon">
                <div class="line" id="one"></div>
                <div class="line" id="two"></div>
                <div class="line" id="three"></div>
            </div>
            <div id="menu">
                <ul>
                    <a href={{ url_for("main") }}>
                        <li>Overview</li>
                    </a>
                    <a href={{ url_for("cmd_history") }}>
                        <li>Command History</li>
                    </a>
                    <a href={{ url_for("main") }}>
                        <li>Settings</li>
                    </a>
                </ul>
            </div>
        </nav>
        <section id="MasterBot_info">
            <div id="info">
                <h1>BotMaster Information</h1>
                <br>
                <h2>IP: {{ bot_master.ip }}</h2>
                <h2>Port: {{ bot_master.port }}</h2>
                <br>
                <h2>Status: <span class="status good">Active - 2m 3s<span></h2>
            </div>
            <div id="resources">
                <div class="resource_circle" id="master_bot_cpu">
                    <div class="outer_circle" id="master_cpu">
                        <div class="before" id="cpu_before"></div>
                        <div class="inner_circle">
                            <h1>CPU</h1>
                            <h2 id="cpu_perct"></h2>
                        </div>
                    </div>
                </div>
                <div class="resource_circle" id="master_bot_ram">
                    <div class="outer_circle" id="master_ram">
                        <div class="before" id="ram_before"></div>
                        <div class="inner_circle">
                            <h1>RAM</h1>
                            <h2 id="ram_perct"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <div class="sep_bar"></div>
        <section id="commands_and_feed">
            <div id="inputs">
                <div class="text_input" id="cmd_input">
                    <div class="text_input_butn clear">X</div>
                    <input type="text" placeholder="Command" spellcheck="false">
                </div>

                <div class="text_input" id="client_input">
                    <div class="text_input_butn down"><span class="down_arrow">></span></div>
                    <input type="text" placeholder="Selected Bots" spellcheck="false" id="selected_bots" disabled>
                    <div class="dropdown container bots hidden" name="">
                        <p class="select_all">Select All Bots</p>
                        <div class="radio_button">
                            <span class="select_all">✔</span>
                        </div>
                        <div class="sep_bar"></div>
                        {% for b in bot_master.bots %}
                        <p>{{ b.mac }}</p>
                        <div class="radio_button">
                            <span class="">✔</span>
                        </div>
                        <div class="sep_bar"></div>
                        {% endfor %}
                        <span id="end_of_options"></span>
                    </div>
                </div>
            </div>
            <div id="buttons">
                <a href={{ url_for("cmd_history") }}>
                    <input type="button" value="Command History" id="cmd_hist_butn">
                </a>
                <input type="button" value="Send Command" id="cmd_send_butn">
                <div id="popup">Sent!</div>
            </div>
            <div id="feed_container">
                <!-- <div class="feed">
                    <div class="f_symbol_cont">
                        <div class="f_symbol error">!</div>
                    </div>
                    <div class="f_cont">
                        <h2>Unable to connect to database</h2>
                    </div>
                    <div class="f_sep"></div>
                </div>
                <div class="feed">
                    <div class="f_symbol_cont">
                        <div class="f_symbol success">✓</div>
                    </div>
                    <div class="f_cont">
                        <h2>Bot Added: MAC - 12:34:AD:CB:12:34, IP - 10.10.10.1, Port - 9090 </h2>
                    </div>
                    <div class="f_sep"></div>
                </div>
                <div class="feed">
                    <div class="f_symbol_cont">
                        <div class="f_symbol info">?</div>
                    </div>
                    <div class="f_cont">
                        <h2>Results Available for command “show /media”</h2>
                    </div>
                    <div class="f_sep"></div>
                </div>
                <div class="feed">
                    <div class="f_symbol_cont">
                        <div class="f_symbol info">?</div>
                    </div>
                    <div class="f_cont">
                        <h2>Results Available for command “python3 amazingRace.py ste...</h2>
                    </div>
                    <div class="f_sep"></div>
                </div>
                <div class="feed">
                    <div class="f_symbol_cont">
                        <div class="f_symbol error">!</div>
                    </div>
                    <div class="f_cont">
                        <h2>Failed to send command to Bot ID - AD:FF:00:11:83:12</h2>
                    </div>
                    <div class="f_sep last"></div>
                </div> -->
            </div>
        </section>
        <section id="bot_info">
            <h1>Bot Information</h1>
            {% for b in bot_master.bots %}
            <div class="bot">
                <h2 class="mac">MAC: {{ b.mac }}</h2>
                <h2 class="name">Name: {{ b.name }}</h2>
                <div class="b_open">
                    <a href={{ url_for("bot_overview", ID=b.mac) }}>
                        <div class="symbol">+</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </section>
    </body>
</html>
