@font-face {
    font-family: Pacifico;
    src: url("Pacifico.ttf");
}

@font-face {
    font-family: FiraSans-Regular;
    src: url("FiraSans-Regular.ttf");
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #502D90;
}

#wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
}

#title{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleTxtStyle{
    font-family: Pacifico;
    font-size: 70px;
    color: #fff;
}

#main_container{
    width: 700px;
    height: 800px;
    background-color: #514E80;
    margin: 0 auto;
    margin-bottom: 100px;
    box-shadow: 0px 0px 10px #522D92;
}

#ServerInfoContainer{
    width: 100%;
    height: auto;
    background-color: #fff;
}

.ContainerTitle{
    width: 100%;
    padding: 12px;
    padding-left: 0;
    padding-right: 0;
    font-family: FiraSans-Regular;
    color: #fff;
    text-align: center;
    background-color: #000;
}

#ServerInfoContentWrapper{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #3B3649;
}

.ServerInfoItem{
    width: calc(50% - 20px);
    padding: 10px;
    height: auto;
}

#ServerInfo{
    display: flex;
    flex-direction: column;
}

.ServerInfoText{
    color: #fff;
    font-family: FiraSans-Regular;
}

#ServerInfoStatus{
    width: 100%;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
    background: #000;
    color: #3B3649;
    text-align: center;
}

.ServerResourceItem{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.ResourceName{
    width: 100%;
    background: inherit;
    font-family: FiraSans-Regular;
    color: #fff;
    text-align: left;
}

.ResourceBarContainer{
    width: 100%;
    height: 40px;
    background-color: #EAECF0;
}

.ResourceBar{
    width: 70%;
    height: 100%;
    background-color: #515A7B;
    transition: .2s all;
}

#CPUResourceBar{
    width: 35%;
}

/*#CommandInputTitle{
    background-color: inherit;
    color: #4A3053;
}*/

#CommandInputs{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.CommandInput{
    width: calc(100% - 20px);
    height: 30px;
    background-color: #fff;
    outline: 0;
    border: 0;
    font-family: FiraSans-Regular;
    font-size: 16px;
    color: #000;
    padding: 10px;
    text-align: center;
}

#CommandInpt{
    border-bottom: 1px #E8E0C7 solid;
}

#CommandSendButon{
    width: 100%;
    height: 50px;
    outline: 0;
    border: 0;
    background-color: #000;
    font-family: FiraSans-Regular;
    font-size: 16px;
    color: #fff;
    transition: 0.2s all;
    cursor: pointer;
}

#CommandSendButon:hover{
    background-color: #000;
    border-color: #000;
    color: #3B3649;
}

#CommandSendButon::-moz-focus-inner{
    border: 0;
}

#CommandSendButon:focus{
    outline: 0;
}
