@media screen and (max-width: 690px){
    #title{
        height: 100%;
        text-align: center;
    }

    #main_container{
        width: 100%;
        margin-bottom: 0;
    }

    #ServerInfoContentWrapper{
        flex-direction: column;
    }

    .ServerInfoItem{
        width: calc(100% - 20px);
    }
}
