@media screen and (max-width: 690px){
    #title{
        height: 100%;
        text-align: center;
    }

    #main_container{
        width: 100%;
        margin-bottom: 0;
    }

    #ServerInfoContentWrapper{
        flex-direction: column;
    }

    .ServerInfoItem{
        width: calc(100% - 20px);
    }

    #ServerResources{
        padding-left: 10px;
        padding-top: 0;
    }
}

@media screen and (max-width: 320px){
    .ServerInfoWrapper{
        flex-direction: column;
    }
}
