@media screen and (max-width: 810px){
    body{
        background-color: #502D90;
    }

    #title{
        height: 100%;
        text-align: center;
    }

    .titleTxtStyle{
        color: #fff;
    }

    #main_container{
        width: 100%;
        margin-bottom: 0;
    }

    #ServerInfoContentWrapper{
        flex-direction: column;
    }

    .ItemContainerWrapper.CommandInputWrapper{
        padding-bottom: 0
    }

    .ServerInfoItem{
        width: calc(100% - 20px);
    }

    .ItemContainer{
        width: 100%;
    }

    .ResourceName{
        padding-top: 0;
    }

    #ServerInfo{
        padding-top: 12px;
    }

    #ServerResources{
        padding-left: 10px;
        padding-top: 0;
    }
}

@media screen and (max-width: 570px){
    .ClientInfoTitleBar{
        flex-direction: column;
    }

    .ClientInfoTitleText, .ClientInfoTitleResource{
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 340px){
    .ServerInfoWrapper{
        flex-direction: column;
    }

    .ServerInfoText.Title.status, .ServerInfoText.Title.IP{
        width: auto;
    }
}
