@font-face {
    font-family: Pacifico;
    src: url("Pacifico.ttf");
}

@font-face {
    font-family: FiraSans-Regular;
    src: url("FiraSans-Regular.ttf");
}

*{
    padding: 0;
    margin: 0;
    transition: 0.2s;
}

body{
    background-color: #fff;
}

#wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
}

#title{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: : 25%;
}

.titleTxtStyle{
    font-family: Pacifico;
    font-size: 70px;
    color: #502D90;
}

#main_container{
    width: 100%;
    height: auto;
    background-color: #514E80;
    display: flex;
    flex-direction: column;
}

.ItemContainerWrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.ItemContainerWrapper.CommandInputWrapper{
    padding-bottom: 40px;
}

.ItemContainerWrapper.CommandInfoContainer{
    justify-content: auto;
}


.ItemContainer{
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
}

.ItemContainer.CommandInfo{
    flex-direction: column;
}

#ServerInfoContainer{
    width: 100%;
    height: auto;
    background-color: #fff;
}

.ContainerTitle{
    width: 100%;
    padding: 12px;
    padding-left: 0;
    padding-right: 0;
    font-family: FiraSans-Regular;
    color: #fff;
    text-align: center;
    background-color: #000;
}

#ServerInfoContentWrapper{
    height: auto;
    display: flex;
    background-color: #fff;
}

.ServerInfoItem{
    width: calc(50% - 10px);
    padding: 10px;
    height: auto;
}

#ServerInfo{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    padding-top: 0;
}

#ServerResources{
    padding-left: 5px;
    padding-top: 0;
    /*
    Apply if extra items added to Server Info
    display: flex;
    flex-direction: column;
    justify-content: center;
    */
}

.ServerInfoWrapper{
    width: calc(100% - 6px);
    background-color: #fff;
    border: 3px #372A4D solid;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.ServerInfoWrapper.bottom{
    margin-bottom: 0;
}

.ServerInfoWrapper.status.online{
    border-color: #2ECC71;
}

.ServerInfoWrapper.status.offline{
    border-color: #D14841;
}

.ServerInfoText{
    padding: 5px;
    font-family: FiraSans-Regular;
    color: #372A4D;
}

.ServerInfoText.status.online{
    color: #2ECC71;
}

.ServerInfoText.status.offline{
    color: #D14841;
}

.ServerInfoText.Title{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #372A4D;
    color: #fff;
}

.ServerInfoText.Title.status, .ServerInfoText.Title.IP{
    width: 91px;
}

.ServerInfoText.Title.status.online{
    background-color: #2ECC71;
    color: #fff;
}

.ServerInfoText.Title.status.offline{
    background-color: #D14841;
    color: #fff;
}

.ServerResourceItem{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.ResourceName{
    width: 100%;
    background: inherit;
    font-family: FiraSans-Regular;
    color: #372A4D;
    text-align: left;
    padding-top: 3px;
}

.ResourceName.top{
    padding-top: 0;
}

.ResourceBarContainer{
    width: 100%;
    height: 40px;
    background-color: #EAECF0;
}

.ResourceBar{
    height: 100%;
    background-color: #372A4D;
    transition: .2s all;
}

#RAMResourceBar{
    width: 70%;
}

#CPUResourceBar{
    width: 35%;
}

#CommandInputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ccenter;
    background-color: #fff;
    padding-bottom: 16px;
}

/*#CommandInputTitle{
    background-color: inherit;
    color: #4A3053;
}*/

#CommandInputs{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.CommandInput{
    width: calc(100% - 46px);
    height: 30px;
    background-color: #fff;
    outline: 0;
    border: 0;
    font-family: FiraSans-Regular;
    font-size: 16px;
    color: #000;
    padding: 10px;
    text-align: center;
}

#CommandInpt{
    border-bottom: 3px #E8E0C7 solid;
}

#CommandSendButon{
    width: calc(100% - 26px);
    height: 50px;
    outline: 0;
    border: 0;
    background-color: #fff;
    border: 3px #372A4D solid;
    font-family: FiraSans-Regular;
    font-size: 16px;
    color: #372A4D;
    font-weight: 600;
    transition: 0.2s all;
    cursor: pointer;
}

#CommandSendButon:hover{
    background-color: #372A4D;
    color: #fff;
}

#CommandSendButon::-moz-focus-inner{
    border: 0;
}

#CommandSendButon:focus{
    outline: 0;
}

#ClientsContainer{
    background-color: #502D90;
    padding: 30px;
    padding-left: 0;
    padding-right: 0;
}

#ClientInfoContainer{
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#CommandContainer{
    height: 200px;
}

#clientInfoTitle{
    width: 100%;
    font-family: Pacifico;
    font-size: 50px;
    color: #fff;
    background: #000;
    text-align: center;
}

#ClientInfoWrapperContainer{
    width: calc(100% - 6px);
    height: auto;
    border: 3px #000 solid;
}

.ClientInfoWrapper{
    width: 100%;
    height: auto;
}

.ClientInfoTitleBar{
    width: 100%;
    height: auto;
    background: #fff;
    font-family: FiraSans-Regular;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px #000 solid;
    cursor: pointer;
}

.ClientInfoTitleBar.bottom{
    border: 0;
}

.ClientInfoTitleBar:hover, .ClientInfoTitleText{
    background-color: #502D90;
    color: #fff;
}

.ClientInfoTitleBar:hover .ClientInfoTitleText{
    background-color: #502D90;
    color: #fff;
}

.ClientInfoTitleText{
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.ClientInfoTitleResource{
    height: auto;
    padding: 10px;
    font-size: 18px;
}

#CommandInfoTitle{
    font-family: Pacifico;
    font-size: 50px;
    color: #502D90;
}
